 <div class= "container">
  <div class="col-md-6 mx-auto">
<h1>Welcome! Please Log In!</h1>
</div>
</div>

  <div class= "container">
  <div class="form-group">
  <div class="col-md-3 mx-auto">
<%= form_for(:session, url: login_path) do |f| %>
<%= f.label :username %>:
<%= f.text_field :username, class: "form-control" %><br>

<%= f.label :email %>:
<%= f.text_field :email, class: "form-control" %><br>

<%= f.label :password %>:
<%= f.password_field :password, class: "form-control" %><br>

<%= f.submit :Login %>
    </div>
  </div>
  </div>
<%end%>

