

    <br>
    <br>
    <main class="form-signin">

        <%= form_for(:session, url: login_path) do |f| %>

      <div class="text-center mb-4">
        <%= image_tag "divideicon2.png", style: 'height: 1000px; width: 1000px;' %>

        <h2>DivisioN</h2>
     </div>


      <div class="form-label-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %><br>
      </div>

      <div class="form-label-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %><br>
        </div>

      <div class="form-label-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %><br>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <%= link_to "Sign in with Google", '/auth/google_oauth2', method: :post, class: "button btn btn-lg btn-primary btn-block" %>
        
      <% end %>
      <%#= render partial: 'partials/errors', locals: {instance: @user} %>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2021 2-Slice-Gaming</p>
    </main>
   

  
