<div class="container mb-5 mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
            
                <h3 class="text-center mb-5"> Ready: FIGHT! </h3>
                <%= render partial: 'partials/errors', locals: {instance: @comment} %>
                <%=form_for @comment do |f|%>
                <%=f.hidden_field :article_id, :value=> @article.id%>
                <%=f.label :content, 'Comment:' %><br>
                <%=f.text_area :content %><br>
                <%=f.submit %>
                <%end%>
                <br>
             
                
                <% @article.comments.each do |c| %>

                    <div class="row pb-4">
                        <div class="col-md-12">
                            <div class="media">    
                                <% if c.user.avatar.attached? %>
                                    <img src="<%=(url_for(c.user.avatar))%>" class="mr-3 rounded-circle"> 
                                <% end %>
   
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-8 d-flex">
                                            <h5><%=c.user.username%></h5> <span>- 2 hours ago</span>
                                        </div>

                                        <div class="col-4">
                                            <div class="pull-right reply"> <a href="/articles/<%=@article.id%>/comments/<%=c.id%>/replies/new"><span><i class="fa   fa-reply"></i> reply</span></a></div>
                                        </div>
                                    </div>

                                    <%= c.content %>
                                      <% if current_user.id == c.user_id%>
                                        <%= link_to 'Delete', comment_path(c), method: :delete, data:{Confirm: "Delete?"}%> 
                                        <%= link_to 'Edit', edit_comment_path(c)%>
                                        <%end%>  
                                         

                                    <% c.replies.collect do |r|%>
                                        <div class="media mt-4"> 
                                            <% if r.user.avatar.attached? %>
                                                <img src="<%=(url_for(r.user.avatar))%>" class="mr-3 rounded-circle"> 
                                            <% end %>
   
                                            <div class="media-body">
                                                <div class="row">
                                                    <div class="col-12 d-flex">
                                                        <h5><%=r.user.username%></h5> <span>- 3 hours ago</span> 
                                                    </div>
                                                </div>

                                                <div>
                                                    <%= r.content %>
                                                    <% if current_user.id == r.user_id%>
                                                        <%= link_to 'Delete', reply_path(r), method: :delete, data:{Confirm: "Delete?"}%> 
                                                        <%= link_to 'Edit', edit_reply_path(r)%>
                                                    <%end%>  
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>    
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>           
</div>




                                            




                                
                                
                                                
                                     
                