<h1>Comments</h1>
<h2><%= @article.title %></h2>
<ul>
    <%@comments.each do |comment|%>
        <li><%=comment.user.username %> says:  <%=comment.content%> Latest reply: <%= Reply.last.user.username %> says: <%= Reply.last.content %> </li>
    <%end%>
</ul>