<%=render partial: '/partials/article', locals: {article: @article}%><br>
<%=render partial: '/partials/form', locals: {comment: @comment, article: @article, submit_text: "Submit Comment"}%><br>
<%= render partial: '/partials/comments', locals:{article: @article}%>



         <% @article.comments.each do |c| %>

                    <div class="row pb-2">
                        <div class="col-md-12">
                            <div class="media"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="https://i.imgur.com/stD0Q19.jpg" />
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-8 d-flex">
                                            <h5><%=c.user.username%></h5> <span>- 2 hours ago</span>
                                        </div>

                                        <div class="col-4">
                                            <div class="pull-right reply"> <a href="#"><span><i class="fa   fa-reply"></i> reply</span></a></div>
                                        </div>
                                    </div>
                                        <%=c.content%>  

                                </div>
                            </div>    
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>           
</div>





