<%=render partial: 'filter', locals: {articles: @articles}%>
<%@articles.each do |article|%>

<div>
<ul>
    <li><h4><%= article.title %></h4><br>
    Source: <%=article.source%><br>
    Decription:<%= article.description.first(200)%><br>
    Click The Link To Learn More:<%=link_to article.url, article.url%>...<br>
    Published At: <%= article.published_at %><br>
    <%=link_to 'Click here to add Comment', article_path(article)%></li>
</ul>
</div>
<%end%>
<%= paginate @articles %>