
<div class="card">
<%=form_for comment do |f|%>
 <% if comment.errors.any? %>
   <div id="error_explanation">
    <h4>Error:</h4>
     <ul>
       <% comment.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

 <div class="field<%= ' field_with_errors' if comment.errors[:content].any? %>">

<%=f.hidden_field :article_id, :value=> article.id%>
<%=f.label :content, 'Comment:' %><br>
<%=f.text_area :content %><br>
<%=f.submit submit_text %>
<%end%>
</div>