  <div class= "container">
  <div class="form-group">
  <div class="col-md-3 mx-auto">
<%= form_for user do |f| %>

<% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field<%= ' field_with_errors' if user.errors[:username].any? %>">

<%= f.label :username %>:
<%= f.text_field :username, class: "form-control" %><br>

<%= f.label :email %>:
<%= f.text_field :email, class: "form-control" %><br>

<%= f.label 'Profile Photo' %>:
<%= f.file_field :avatar, class: "form-control btn-sm" %><br>

<%= f.label :password %>:
<%= f.password_field :password, class: "form-control" %><br>

<%#=collection_check_boxes(:user, :subscription_ids, Article.select(:source).distinct, :id, :source) %>

<%= f.submit submit_text %>





</div>

    </div>
  </div>
  </div>
<%end%>

