

    <br>
    <br>
    <main class="form-signin">

      <%= form_for(:user, url: users_path) do |f| %>

      <div class="text-center mb-4">
        <%= image_tag "divideicon2.png", class: 'mb-4', style: 'height: 100px; width: 100px;' %>
        
        <h2>DivisioN</h2>
      </div>


      <div class="form-label-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %><br>
      </div>

      <div class="form-label-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %><br>
        </div>

      <div class="form-label-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %><br>
      </div>

      <div class="form-label-group">
        <%= f.label 'Profile Photo' %>
        <%= f.file_field :avatar, class: "form-control btn" %><br>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>

        <%= link_to "Sign up with Google", '/auth/google_oauth2', method: :post, class: "button btn btn-lg btn-primary btn-block" %>
        
      <% end %>

      <%= render partial: 'partials/errors', locals: {instance: @user} %>

      <p class="mt-5 mb-3 text-muted text-center">&copy; 2021 2-Slice-Gaming</p>
    </main>
   





