

    <br>
    <br>
    <main class="form-signin">

        <%= form_for(:session, url: login_path) do |f| %>

      <div class="text-center mb-4">
        <img class="mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW6SE4Gc77-uwiaFI2mP3nIi1dqenK66qLbQ&usqp=CAU" alt="" width="100" height="100">
        <h2>DivisioN</h2>
     </div>


      <div class="form-label-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %><br>
      </div>

      <div class="form-label-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %><br>
        </div>

      <div class="form-label-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %><br>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>

        <%= link_to "Sign up with Google", '/auth/google_oauth2', method: :post, class: "button btn btn-lg btn-primary btn-block" %>
        
      <% end %>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2021 2-Slice-Gaming</p>
    </main>
   
<%#=render partial: 'form', method: 'post', locals: {user: @user, submit_text: "Signup"} %>




